day05/flows3.json
[
    {
        "id": "3d07e4143b514872",
        "type": "tab",
        "label": "플로우3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0b815d2d92ca2bf",
        "type": "http response",
        "z": "3d07e4143b514872",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "8712b9b65db9c2dc",
        "type": "function",
        "z": "3d07e4143b514872",
        "name": "line_chart2",
        "func": "msg.payload = {};\n\nmsg.payload = {\n    xAxis: {\n        type: 'category',\n        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']\n    },\n    yAxis: {\n        type: 'value'\n    },\n    series: [\n        {\n            data: [150, 230, 224, 218, 135, 147, 260],\n            type: 'line'\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 60,
        "wires": [
            [
                "e0b815d2d92ca2bf"
            ]
        ]
    },
    {
        "id": "88115d397962d168",
        "type": "http in",
        "z": "3d07e4143b514872",
        "name": "",
        "url": "/big2/line_data1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "8712b9b65db9c2dc"
            ]
        ]
    },
    {
        "id": "025cb080056a0016",
        "type": "http in",
        "z": "3d07e4143b514872",
        "name": "",
        "url": "/big2/bar_data1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "d3dc9f66b6c88041"
            ]
        ]
    },
    {
        "id": "cc07b691452f2b1a",
        "type": "http response",
        "z": "3d07e4143b514872",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "d3dc9f66b6c88041",
        "type": "function",
        "z": "3d07e4143b514872",
        "name": "bar_chart",
        "func": "msg.payload = {};\n\nmsg.payload = {\n    xAxis: {\n        type: 'category',\n        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']\n    },\n    yAxis: {\n        type: 'value'\n    },\n    series: [\n        {\n            data: [120, 200, 150, 80, 70, 110, 130],\n            type: 'bar',\n            showBackground: true,\n            backgroundStyle: {\n                color: 'rgba(180, 180, 180, 0.2)'\n            }\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "cc07b691452f2b1a"
            ]
        ]
    },
    {
        "id": "8ad7e7332cd38407",
        "type": "http in",
        "z": "3d07e4143b514872",
        "name": "",
        "url": "/big2/scatter_data1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "22516926491c14a4"
            ]
        ]
    },
    {
        "id": "7b216a3708ed8146",
        "type": "http response",
        "z": "3d07e4143b514872",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "22516926491c14a4",
        "type": "function",
        "z": "3d07e4143b514872",
        "name": "scatter_chart",
        "func": "msg.payload = {};\n\nmsg.payload = {\n    xAxis: {},\n    yAxis: {},\n    series: [\n        {\n            symbolSize: 20,\n            data: [\n                [10.0, 8.04],\n                [8.07, 6.95],\n                [13.0, 7.58],\n                [9.05, 8.81],\n                [11.0, 8.33],\n                [14.0, 7.66],\n                [13.4, 6.81],\n                [10.0, 6.33],\n                [14.0, 8.96],\n                [12.5, 6.82],\n                [9.15, 7.2],\n                [11.5, 7.2],\n                [3.03, 4.23],\n                [12.2, 7.83],\n                [2.02, 4.47],\n                [1.05, 3.33],\n                [4.05, 4.96],\n                [6.03, 7.24],\n                [12.0, 6.26],\n                [12.0, 8.84],\n                [7.08, 5.82],\n                [5.02, 5.68]\n            ],\n            type: 'scatter'\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 240,
        "wires": [
            [
                "7b216a3708ed8146"
            ]
        ]
    },
    {
        "id": "40d442a14efdc0e6",
        "type": "http in",
        "z": "3d07e4143b514872",
        "name": "",
        "url": "/big2/gauge_data1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "e7a8404227751ea0"
            ]
        ]
    },
    {
        "id": "8a89d6f6125a4a55",
        "type": "http response",
        "z": "3d07e4143b514872",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "e7a8404227751ea0",
        "type": "function",
        "z": "3d07e4143b514872",
        "name": "gauge_chart",
        "func": "msg.payload = {};\n\nmsg.payload = {\n    tooltip: {\n        formatter: '{a} <br/>{b} : {c}%'\n    },\n    series: [\n        {\n            name: 'Pressure',\n            type: 'gauge',\n            progress: {\n                show: true\n            },\n            detail: {\n                valueAnimation: true,\n                formatter: '{value}'\n            },\n            data: [\n                {\n                    value: 50,\n                    name: 'SCORE'\n                }\n            ]\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "8a89d6f6125a4a55"
            ]
        ]
    },
    {
        "id": "f00d30400b284416",
        "type": "http in",
        "z": "3d07e4143b514872",
        "name": "",
        "url": "/city_table",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "529f69c2953e2247"
            ]
        ]
    },
    {
        "id": "5efc65d13843e74c",
        "type": "http response",
        "z": "3d07e4143b514872",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "529f69c2953e2247",
        "type": "function",
        "z": "3d07e4143b514872",
        "name": "function 31",
        "func": "msg.payload = {};\nmsg.topic = \n\"select Name, Continent, Region, Population, GNP \" +\n\"from country order by GNP DESC LIMIT 10;\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "2ab02459edcb4cb2"
            ]
        ]
    },
    {
        "id": "2ab02459edcb4cb2",
        "type": "mysql",
        "z": "3d07e4143b514872",
        "mydb": "3c8f13bac289c8de",
        "name": "",
        "x": 550,
        "y": 420,
        "wires": [
            [
                "2d820dfcf6aea626"
            ]
        ]
    },
    {
        "id": "2d820dfcf6aea626",
        "type": "function",
        "z": "3d07e4143b514872",
        "name": "function 32",
        "func": "var data = msg.payload;\n\nvar headerlist = [];\n\n//header 추가\nfor(var key in data[0]){\n    headerlist.push({text:key, value:key});\n}\n\nmsg.payload = {\n    headers : headerlist,\n    items:data\n};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 420,
        "wires": [
            [
                "5efc65d13843e74c"
            ]
        ]
    },
    {
        "id": "cbfae62830ee3ca0",
        "type": "http in",
        "z": "3d07e4143b514872",
        "name": "",
        "url": "/big2/pie_data1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "479ef06aa804a014"
            ]
        ]
    },
    {
        "id": "73fbbf23a8cc8c60",
        "type": "http response",
        "z": "3d07e4143b514872",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "479ef06aa804a014",
        "type": "function",
        "z": "3d07e4143b514872",
        "name": "pie_chart",
        "func": "msg.payload = {};\n\nmsg.payload = {\n    title: {\n        text: 'Referer of a Website',\n        subtext: 'Fake Data',\n        left: 'center'\n    },\n    tooltip: {\n        trigger: 'item'\n    },\n    legend: {\n        orient: 'vertical',\n        left: 'left'\n    },\n    series: [\n        {\n            name: 'Access From',\n            type: 'pie',\n            radius: '50%',\n            data: [\n                { value: 1048, name: 'Search Engine' },\n                { value: 735, name: 'Direct' },\n                { value: 580, name: 'Email' },\n                { value: 484, name: 'Union Ads' },\n                { value: 300, name: 'Video Ads' }\n            ],\n            emphasis: {\n                itemStyle: {\n                    shadowBlur: 10,\n                    shadowOffsetX: 0,\n                    shadowColor: 'rgba(0, 0, 0, 0.5)'\n                }\n            }\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 520,
        "wires": [
            [
                "73fbbf23a8cc8c60"
            ]
        ]
    },
    {
        "id": "ec55364cf65ed899",
        "type": "http in",
        "z": "3d07e4143b514872",
        "name": "",
        "url": "/temp_metric",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "df08578a0ccb41ee"
            ]
        ]
    },
    {
        "id": "d9a8b1288b7aa13c",
        "type": "http response",
        "z": "3d07e4143b514872",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 640,
        "wires": []
    },
    {
        "id": "df08578a0ccb41ee",
        "type": "function",
        "z": "3d07e4143b514872",
        "name": "function 33",
        "func": "var makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n}\n\nvar value = makeRandom(25, 50);\n\nmsg.payload = {\n    titleCaption : \"\" + value,\n    titleColor : value>35 ? '#FF0000' : '#0070C0',\n    fontSize : value>35 ? \"50px\" : \"25px\",\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 640,
        "wires": [
            [
                "d9a8b1288b7aa13c"
            ]
        ]
    },
    {
        "id": "83f09b0c040f3d7e",
        "type": "http in",
        "z": "3d07e4143b514872",
        "name": "",
        "url": "/temp_health",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "3b20b31c45c1a7d8"
            ]
        ]
    },
    {
        "id": "101879bc72e27c60",
        "type": "http response",
        "z": "3d07e4143b514872",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 740,
        "wires": []
    },
    {
        "id": "3b20b31c45c1a7d8",
        "type": "function",
        "z": "3d07e4143b514872",
        "name": "function 34",
        "func": "var makeRandom = function (min, max) {\n    var RandVal = Math.floor(Math.random() * (max - min + 1)) + min;\n    return RandVal;\n\n};\n\nvar value = makeRandom(10, 50);\nvar temp = makeRandom(20, 50);\nvar m = makeRandom(420, 650);\nvar co2 = makeRandom(300, 490);\nvar humid = makeRandom(30, 90);\n\nvar titleVal = msg.payload.title;\n\nmsg.payload = {\n    title: titleVal,\n    color: (value > 20) ? '#FF0000' : '#00FF00',\n    blink: (value > 20) ? true : false,\n    \"metric\": {\n        'item1': {\n            displayName: '먼지농도',\n            textColor: m > 500 ? '#FF0000' : '#000000',\n            value: m\n        },\n        'item2': {\n            displayName: '온도',\n            textColor: temp > 30 ? '#FF0000' : '#000000',\n            value: temp\n        },\n        'item3': {\n            displayName: '습도',\n            textColor: humid < 50 ? '#FF0000' : '#000000',\n            value: humid\n        },\n        'item6': {\n            displayName: 'Co2',\n            textColor: co2 > 400 ? '#FF0000' : '#000000',\n            value: co2\n        }\n\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 740,
        "wires": [
            [
                "101879bc72e27c60"
            ]
        ]
    },
    {
        "id": "fd17b4917a23b45c",
        "type": "http in",
        "z": "3d07e4143b514872",
        "name": "",
        "url": "/line_ch",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "c593e80c68f35b68"
            ]
        ]
    },
    {
        "id": "09b9b25a11b5fabd",
        "type": "http response",
        "z": "3d07e4143b514872",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 820,
        "wires": []
    },
    {
        "id": "c593e80c68f35b68",
        "type": "function",
        "z": "3d07e4143b514872",
        "name": "line_chart2",
        "func": "msg.payload = {};\n\nmsg.payload = {\n    xAxis: {\n        type: 'category',\n        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']\n    },\n    yAxis: {\n        type: 'value'\n    },\n    series: [\n        {\n            data: [150, 230, 224, 218, 135, 147, 260],\n            type: 'line'\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 820,
        "wires": [
            [
                "09b9b25a11b5fabd"
            ]
        ]
    },
    {
        "id": "3c8f13bac289c8de",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3366",
        "db": "bigdb",
        "tz": "",
        "charset": "UTF8"
    }
]